:host {
    width: 200px;
    height: 40px;
    display: flex;
    gap: 10px;

    @media only screen and (max-width: 600px) {
        width: 140px;
        gap: 5px;
    }

    button {
        height: 100%;
    }

    ::ng-deep .mat-raised-button {
        @media only screen and (max-width: 600px) {
            padding: 0 2px;
            min-width: unset;
        }
    }

    .result {
        height: 100%;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
            width: 100px;
        }

        div {
            background-color: #EAECEE;
            width: 30px;
            height: 100%;
            border-radius: 8px;
            box-shadow: 2px 2px 3px rgb(0,0,0,0.2);

            @media only screen and (max-width: 600px) {
                width: 23px;
                height: 80%;
            }
        }

        .correct-in-place {
           background-color: #28B463; 
        }

        .correct-not-in-place {
            background-color: #F1C40F;
        }
    }
}