:host {
    width: 200px;
    height: 40px;
    display: flex;
    gap: 10px;

    button {
        height: 100%;
    }

    .result {
        height: 100%;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            background-color: #EAECEE;
            width: 30px;
            height: 100%;
            border-radius: 8px;
            box-shadow: 2px 2px 3px rgb(0,0,0,0.2);
        }

        .a {
           background-color: #28B463; 
        }

        .b {
            background-color: #F1C40F;
        }
    }
}